*{
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    cursor: none;
    background-color: #111018;
}

.whole{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container{
    height: calc(100vh - 170px);
    width: 100%;
    background-color: #111018;
    padding: 0 20px;
    @include media-breakpoint-up(md){
        height: 100vh;
        padding: 0 40px;
    }
}