*{
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    cursor: none;
    background-color: #111018;
}

.whole{
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.container{
    padding-bottom: 100px;
    min-height: calc(100vh - 200px);
    width: 100%;
    background-color: #111018;
    padding: 30px 20px;
    position: relative;
    @include media-breakpoint-up(md){
        padding: 0 40px;
    }
}

.loader{
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111018;
    opacity: 1;
}

.loaded{
    animation: loaded .5s forwards;
}

@keyframes loaded{
    0%{opacity: 1;
        z-index: 1000;}
    100%{
        opacity: 0;
        z-index: 0;
    }
}