*{
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    cursor: none;
}

.whole{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #111018;
    padding: 0 40px;
}