.cursor{ 
    width: 50px;
    height: 50px;
    background:rgb(250, 61, 61);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-15px, -15px, 0px);
    transition-timing-function: ease-out;
    transition: background 0.5s;
    opacity: 0.5;
    z-index: 1;
    @include media-breakpoint-up(md){
        opacity: 1;
    }
    .cursor-center{
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: blueviolet;
        border-radius: 50%;
        transition: 2s;
        animation: glow ease-in-out 5s infinite;
    }
}

.blue{
    background: rgb(68, 165, 255) ;
    transition: background 0.5s;
}

.steady{
    animation: none !important;
    background: rgb(255, 208, 0) !important;
    transition: background 0.5s;
}

@keyframes glow{
    0%{ background-color: blueviolet;}
    40%{ background-color: rgb(250, 61, 61); }
    70%{ background-color: rgb(34, 34, 34);}
    100%{ background-color: blueviolet;}
}
