.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    .footer-icons{
        max-width: 320px;
        display: flex;
        justify-content: space-between;
        a{
            margin: 0 10px;
            cursor: none;
            img{
                height: 40px;
                width: 40px;
            }
        }
    }
    @include media-breakpoint-up(md){
        position: absolute;
    }

}