.header{
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
    min-height: 120px;
    height: fit-content;
    background-color: #111018;
    margin-bottom: -1px;
    .header-bg{
        position: absolute;
        width: 100%;
        opacity: 0.3;
        height: 120px;
        @include media-breakpoint-up(md){
            height: 100px;
        }
    }
    .main-nav{
        z-index: 10;
        display: none;
        @include media-breakpoint-up(md){
            display: block;
        }
    }
    .hamburger{
        position: absolute;
        top: 30px;
        left: 30px;
        height: 50px;
        width: fit-content;
        z-index: 100;
        @include media-breakpoint-up(md){
            display: none;
        }
        .line{
            position: relative;
            background-color: white;
            height: 4px;
            width: 50px;
            margin: 11px 0;
            transition: 0.2s;
        }
        .animate{
            position: absolute;
            top: 14px;
            &:nth-child(1){
                transform: rotate(45deg);
                transition: 0.2s;
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
                transition: 0.2s;               
            }
        }
    }
    .nav-mobile{
        z-index: 10;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        justify-content: center;
        background-color: #111018;
        height: 250px;
        @include media-breakpoint-up(md){
            display: none;
        }
        nav{
            ul{
                display: block;
                padding: 16px;
                li{
                    margin: 14px 0;
                    text-align: center;
                }
            }
        }
    }
    .nav-shown{
        display: block;
        animation: down 0.5s;
        @include media-breakpoint-up(md){
            display: none;
        }
    }
    @keyframes down{
        0%{top: -200px;}
        100%{top: 0}
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 15px 25px;
            transition: transform 0.5s;

            &:hover{
                transform: rotate(-.6deg);
                transition: 0.5s;
            }
            li{
                margin: 0 20px;
            }
        }
    }
    .active{
        color: rgb(255, 208, 0);
        transition: color .3s;
        &:hover{
            color:  rgb(255, 89, 89);
            transition: color .5s;
        }
    }

}
.hamburger-animate{
    animation: hamburger 0.2s linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes hamburger{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}