.header{
    padding: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    .header-bg{
        position: absolute;
        height: 90px;
        width: 100%;
        z-index: 0;
        opacity: 0.4;
    }
    nav{
        z-index: 1000;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 25px 25px;
            li{
                a{
                    text-decoration: none;
                    color: rgb(223, 223, 223);
                    margin: 0px 20px;
                    font-size: 18px;
                    cursor: none;
                }
            }
        }
    }

}