.works{
    z-index: 100;
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    .work{
        position: relative;
        padding: 40px 0;
        text-align: left;
        border-bottom: 2px solid rgba(255, 75, 75, 0.3);
        .work-title{
            color: rgb(250, 61, 61);
            font-weight: bolder;
            text-shadow: 2px 1px 1px #111018,  -2px -2px 1px #111018,  -1px 1px 1px #111018, 1px -1px 1px #111018;
        }
        .short-description{
            transition: opacity .5s;
        }
        .transparent{
            opacity: .3;
            transition: opacity .5s;
        }
        .long-description{
            height: 0px;
            transition: height .5s;
            opacity: 0;
            transition: .3s;
            p, a{
                animation: workdisappears .3s forwards;
            }
        }
        .is-open{
            height: 290px;
            @include media-breakpoint-up(sm){
                height: 220px;
            }
            @include media-breakpoint-up(md){
                height: 170px;
            }
            transition: height .5s;
            display: block;
            p, a{
                animation: workappears 0.3s forwards;
            }
        }

        @keyframes workappears{
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
        @keyframes workdisappears{
            0%{opacity: 1;}
            100%{opacity: 0;}
        }

        .work-link{
            opacity: .8;
            color: rgb(248, 138, 138);
        }
        @keyframes glow2{
            0%{color: white;}
            50%{color:  rgb(248, 138, 138);}
            100%{color: white;}
        }
        
    }
            
    .hover-glower{
        height: 40px;
        width: 80px;
        background-color: #ffd000;
        position: absolute;
        top: 100px;
        right: 0;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        letter-spacing: 2px;
        transform: rotate(30deg);
        color: #111018;
        opacity: .5;
        animation: glow3 5s ease-in-out infinite;
        &::after{
            font-size: 14px;
            content: 'TAP';
            @include media-breakpoint-up(lg){
                content: 'HOVER';
            }
        }
        @keyframes glow3{
            0%{opacity: .5;}
            50%{opacity: .9;}
            100%{opacity: .5;}
        }
    }
}
.works-enter-active, .works-leave-active {transition: opacity .3s;}
.works-enter, .works-leave-active {opacity: 0;}